.board {
  width: 248px;
  border: 1px solid #0D1A29;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.text {
  color: #8FC1B3;
  text-align: center;
}

.button {
  font-size: 30px;
  color: #0D1A29;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 10px;
}
