.app {
  background: #334F57;
  min-height: 100vh;
  height: 100%;

  color: #0D1A29;
}

.header {
  width: 250px;
  display: block;
  text-align: center;
  font-size: 40px;
  color: #F2F2DF;
  font-family: sans-serif;
  margin: auto;
  padding-top: 20px;
}
