.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.customCard {
  width: 179px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
	  position: absolute;
    z-index: -1;
  }
  label {
    cursor: pointer;
    font-size: 20px;
    color: #F2F2DF;
    text-align: center;
  }
}

.cardPreview {
  width: 50px;
  height: 50px;
  border: 1px solid #0D1A29;
  background-size: cover;
  margin-left: 64px;
}

.highScores {
}

.game {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.gameOn {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
  padding-top: 50px;
}

.header {
  width: 250px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #F2F2DF;
  font-family: sans-serif;
  margin-bottom: 16px;
}

.button {
  font-size: 30px;
  color: #0D1A29;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
}

.text {
  color: #8FC1B3;
  text-align: center;
}
