.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  margin: auto;
  padding-top: 50px;
}

.header {
  width: 250px;
  display: block;
  text-align: center;
  font-size: 24px;
  color: #F2F2DF;
  font-family: sans-serif;
  margin-bottom: 16px;
}

.button {
  font-size: 30px;
  color: #0D1A29;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
}

.text {
  color: #8FC1B3;
  text-align: center;
}
