.scores {
  margin-top: 10px;
  align-self: center;
  display: block;
  border: 1px solid #0D1A29;
  background: #F2F2DF;
  padding: 5px;

  th {
    text-align: left;
    border-bottom: 1px solid #0D1A29;
  }
}

.text {
  font-size: 20px;
  text-align: center;
}
